 body {
 	background-color: #EFF6E0;
 }


 h1 {
 	color: #124559;
 	font-family: 'Playfair Display', serif;
 	text-align: center;
 	font-size: 30pt;
 }

 h2 {
 	text-align: center;
 	font-family: 'Playfair Display', serif;
 }

h3 {
	color: #598392;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

h4, ul {
	color: #598392;
	font-family: 15pt;
}