 body {
 	background-color: #EFF6E0;
 }


 h1 {
 	color: #124559;
 	font-family: 'Playfair Display', serif;
 	text-align: center;
 	font-size: 30pt;
 }

 h2 {
 	text-align: center;
 	font-family: 'Playfair Display', serif;
 	color: black;
 }

h3 {
	color: #598392;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

h4, ul {
	color: #598392;
	font-family: 'Playfair Display', serif;
	font-size: 13pt;

}

p {
	text-align: center;
	font-family: 'Playfair Display', serif;
}

div {
  width: 150px;
  border: 3px solid #598392;
  padding: 30px;
  margin: 20px;
}

box {
  width: 150px;
  border: 2px solid #598392;
  padding: 15px;
  margin: 20px;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: %60;
}


img {
	border-color: #4E8098;
	border-width: 4px;
	border-style: solid;
	border-radius: %10
}






